.product-item {
    color: black;
    background: rgb(198, 202, 197);
    border: 2px solid black;
    padding: 0;
    margin: 0;
    border-radius: 30px;
    padding: 10px 50px;
    margin: 20px 0;
    display: flex;
}
img {
    /* width: 15vw; */
    height: 30vh;
    margin-right: 20px;
}
.product-details {
    width: 80%;
    padding: 40px;
    margin-left: 10px;
    border-radius: 20px;
    text-align: center;
    background: #797878;
    border: 3px solid white;
}
h2{
    font-size: 30px;
}
