<p>form works!</p>

<div class="add-product">
    <h1>Add ncew product</h1>
    <form (submit)="addProduct()">
        <div class="form-group">
            <input type="text" name="name" placeholder="name" [(ngModel)]="newProduct.name">
        </div>

        
        <div class="form-group">
            <textarea name="image" [(ngModel)]="newProduct.image" placeholder="image"></textarea>
        </div>
        
        <div class="form-group">
            <textarea name="description" [(ngModel)]="newProduct.description" placeholder="description"></textarea>
        </div>
        
        <div class="form-group">
            <input type="text" name="price" placeholder="price" [(ngModel)]="newProduct.price">
        </div>

        <div class="form-group">
            <input type="text" name="review" placeholder="review" [(ngModel)]="newProduct.review">
        </div>

        <button type="submit"> Submit</button>
    </form>
</div>


<div class="product-list">
    <div class="product-item" *ngFor="let product of products">
        <img [src]="product.image" class="product-image" />
        <div class="product-details">
            <h2 class="product-name">{{product.name}}</h2>
            <p class="product-desciption">{{product.description}}</p>
            <p class="product-price">{{product.price}}</p>
            <p class="product-review">{{product.review}}</p>
        </div>
    </div>
</div>
