<form (ngSubmit)="submit()">
    <input type="email" placeholder="Email" [(ngModel)]="email">
    <br>
    <input type="password" placeholder="Password" [(ngModel)]="password">
    <br>
    <button type="submit">Sign in</button>
</form>



<ul class="nav nav-pills" *ngIf="true">
    <li [class.active]="viewMode == 'red'">
        <a (click)="viewMode = 'red'">For Output of Red Color Click Me</a>
    </li>
    <li [class.active]="viewMode == 'blue'">
        <a (click)="viewMode = 'blue'">For Output of Blue Color Click Me</a>
    </li>
    <li [class.active]="viewMode == 'Orange'">
        <a (click)="viewMode = 'Orange'">For Output of Orange Color Click Me</a>
    </li>
    <li [class.active]="viewMode == 'white'">
        <a (click)="viewMode = 'black'">For Output of Black Color Click Me</a>
    </li>
</ul>
<div [ngSwitch]="viewMode" [ngStyle]="{ 'background-color':viewMode,color:'white'}">
    <div *ngSwitchCase="'red'">Red View Content</div>
    <div *ngSwitchCase="'blue'">Blue View Content</div>
    <div *ngSwitchCase="'Orange'">Orange View Content</div>
    <div *ngSwitchCase="'black'">Black View Content</div>
    <div *ngSwitchDefault>Otherwise</div>
</div>

<hr>

<ul>
    <li *ngFor="let task of tasks">
        {{task}}
    </li>
</ul>


